---
layout: default
title: Index
---
<div class="container row">
<div class="large-8 large-offset-3 columns">
    <!-- Content List -->
    <div class="blog-list ml-15">
        {% for post in site.posts %}
        {% if  post.yearmonth != post.next.yearmonth %}
    
    	<div class="row list-data">
            <div class="large-12 columns">
                <div class="meta">
                <h4 class="month"><strong>{{ post.date | date: "%b %Y" }}</strong></h4>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row list-items">
            <div class="large-1 columns">


                {% comment %}
                {% if post.category == 'life' %}
                    <div class="category">life</div>
                {% elsif post.category == 'design' %}
                    <div class="category">design</div>
                {% elsif post.category == 'programe' %}
                    <div class="category">programe</div>
                {% endif %}
                {% endcomment %}

                <div class="category">{{ post.date | date: "%d" }}</div>

            </div>
            <div class="large-11 columns list-title">
                <a href="{{ site.baseurl }}{{ post.url }}" class="link">{{ post.title }}</a>
                <ul class="author">
                  <ul>Authored by {{ post.author }}</ul>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="blog-footer ml-15">
        © 2012–2013 
    </div>
    <!-- Content List -->
</div> 
</div>